*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgba(61, 112, 80, 0.797);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    gap: 20px;
}



header nav{
    display: flex;
    gap: 20px;
    color: aliceblue;
}

header h1{
    color: rgb(25, 63, 25);
    text-transform: uppercase;
    font-size: 45px;
}

section{
    column-count: 6;
    gap: 50px;
}

img{
    width: 100%;
    margin: 0 20px 15px 20px;
    opacity: .7;
    border-radius: 0;
    transition: 5s;
}

img:hover{
    outline: 2px solid white;
    opacity: 1;
    border-radius: 40px;
}


